@import url("https://fonts.googleapis.com/css?family=Open+Sans");
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #FEFEFA;
  line-height: 1.5; }

h2 {
  font-weight: 700; }

.fixed-background {
  height: 100vh;
  width: 100%;
  background-color: #20313b;
  background-image: url("./assets/images/diego-ph-222506-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  z-index: 1; }

.hero {
  height: 100vh;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FEFEFA;
  text-shadow: 2px 2px #20313b;
  position: relative;
  z-index: 2; }
  .hero .social-icons {
    width: 60%;
    margin-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #FEFEFA; }
  .hero .links {
    width: 80%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-shadow: none; }
    .hero .links a {
      color: #FEFEFA;
      text-decoration: none;
      padding-bottom: 10px;
      transition: border-bottom 0.2s;
      border-bottom: 3px solid transparent; }
      .hero .links a:hover {
        border-color: #FEFEFA; }

.heading {
  text-shadow: 2px 2px #20313b; }

.social-icons {
  display: flex;
  justify-content: space-around; }
  .social-icons a {
    color: #FEFEFA;
    padding-bottom: 2px;
    transition: transform 0.2s; }
    .social-icons a:hover {
      transform: scale(1.1); }

#work, #contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 2;
  background-color: #c64a41;
  color: #FEFEFA; }

.card-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

.work-card {
  min-height: 500px;
  width: 70%;
  max-width: 350px;
  border: 1px solid #20313b;
  margin-bottom: 20px;
  background-color: #FEFEFA;
  border-radius: 10px;
  overflow: hidden; }
  .work-card .card-pic {
    min-height: 250px;
    height: 50%;
    background-size: cover;
    border-bottom: 2px solid #20313b; }
  .work-card .card-desc {
    min-height: 200px;
    height: 40%; }
    .work-card .card-desc .card-title {
      color: #20313b;
      font-weight: 700;
      margin: 0;
      padding: 10px 0 10px 20px;
      box-shadow: 0 5px 5px -5px #20313b; }
    .work-card .card-desc .card-details {
      font-weight: 100;
      color: rgba(32, 49, 59, 0.8);
      padding: 0 20px; }
  .work-card .work-links {
    min-height: 50px;
    height: 10%;
    position: relative;
    bottom: 0;
    background-color: #222;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .work-card .work-links a {
      transition: all 0.1s;
      color: #FEFEFA; }
    .work-card .work-links a:hover {
      transform: scale(1.1);
      color: #888; }
    .work-card .work-links a:visited {
      color: #FEFEFA; }
    .work-card .work-links a:visited:hover {
      color: #888; }

.work-link {
  text-decoration: none; }

.work-banner {
  height: 200px;
  width: 360px;
  background-size: cover;
  border: 2px solid #20313b;
  border-radius: 10px;
  margin: 5px 0;
  overflow: hidden;
  transition: all 0.2s; }
  .work-banner:hover {
    transform: scale(1.05); }
  .work-banner .banner-description {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding: 0 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.9);
    color: #FEFEFA;
    opacity: 0;
    transition: all 0.3s; }
    .work-banner .banner-description:hover {
      opacity: 1; }

.twitchmore {
  background-image: url("./assets/images/twitchmore.png"); }

.ten-for-ten {
  background-image: url("./assets/images/tenfortenbanner.png");
  background-position-x: 15%; }

.reddit-rundown {
  background-image: url("./assets/images/redditbanner.png"); }

.rerm {
  background-image: url("./assets/images/rermbanner.png");
  background-position-x: 50%; }

#about, #contact, footer {
  position: relative;
  z-index: 2; }

#about, footer {
  color: #FEFEFA;
  background-color: rgba(0, 0, 0, 0.3); }

#about, #work, #contact {
  padding: 20px 0; }

.bio {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }

.tools {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px; }
  .tools .tool-row {
    display: flex;
    flex-direction: row;
    justify-content: center; }
  .tools .tool {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 120px;
    height: 120px;
    border: 2px solid #FEFEFA;
    border-radius: 10px;
    font-size: 5em;
    margin: 5px 5px;
    line-height: 1.15; }
    .tools .tool .tool-label {
      font-size: 14px; }

#contact {
  height: 380px; }
  #contact form {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    #contact form input, #contact form textarea {
      display: block;
      width: 60%;
      padding: 10px;
      margin-bottom: 20px;
      border-radius: 4px;
      border: 1px solid #ced4da;
      background-color: #FEFEFA; }
    #contact form .submit-button {
      background-color: #20313b;
      color: #FEFEFA;
      border-color: #20313b;
      transition: all 0.2; }
      #contact form .submit-button:hover {
        cursor: pointer;
        transform: scale(1.03); }

footer {
  color: #FEFEFA;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }
  footer .email-link {
    color: lightblue; }
  footer .copyright, footer .email-link {
    align-self: center; }

@media (min-width: 768px) {
  .hero .social-icons {
    width: 40%; }
  .hero .links {
    width: 40%; }

  .bio {
    padding: 10px 80px; }

  footer .social-icons {
    width: 40%;
    align-self: center; } }
@media (min-width: 768px) and (max-width: 991px) {
  .work-card {
    max-width: 400px; } }
@media (min-width: 992px) {
  #work {
    display: grid;
    grid-template-rows: 10% 45% 45%;
    grid-template-columns: 50% 50%; }
    #work .heading {
      grid-row-start: 1;
      grid-row-end: 2;
      grid-column-start: 1;
      grid-column-end: 3;
      text-align: center; }
    #work .card-container {
      padding: 10px 0; }
    #work .card-container.one {
      grid-row-start: 2;
      grid-row-end: 3;
      grid-column-start: 1;
      grid-column-end: 2; }
    #work .card-container.two {
      grid-row-start: 2;
      grid-row-end: 3;
      grid-column-start: 2;
      grid-column-end: 3; }
    #work .card-container.three {
      grid-row-start: 3;
      grid-row-end: 4;
      grid-column-start: 1;
      grid-column-end: 2; }
    #work .card-container.four {
      grid-row-start: 3;
      grid-row-end: 4;
      grid-column-start: 2;
      grid-column-end: 3; }

  #contact form input, #contact form textarea {
    width: 40%; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .bio {
    padding: 10px 200px; } }
@media (min-width: 1200px) {
  .bio {
    padding: 10px 320px; } }

/*# sourceMappingURL=style.css.map */
