@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$base-white: #FEFEFA;
$base-black: #222;
$base-red: #c64a41;
$base-blue: #20313b;

body {
    font-family: 'Open Sans', sans-serif;
    background-color: $base-white;
}

.fixed-background {
    height: 100vh;
    width: 100%;
    background-image: url('./assets/images/diego-ph-222506-unsplash.jpg');
    background-size: cover;
    background-repeat: none;
    position: fixed;
    z-index: 1;
}

// nav {
//     width: 100%;
//     box-sizing: border-box;
//     padding: 0 20px;
//     display: flex;
//     flex-direction: column;
//     position: fixed;
//     z-index: 2;
//     top: 0;
//     // justify-content: space-between;
//     // align-items: center;
//     background-color: transparent;
//     color: $base-white;
//     font-size: 20px;

//     .brand {
//         visibility: hidden;
//     }

//     .nav-bar, .mobile-menu ul {
//         height: 50px;
//         display: flex;
//         justify-content: space-between;
//         align-items: center;
//     }

//     .mobile-menu {
//         display: none;
//     }

//     .mobile-menu li {
//         justify-content: space-around;
//     }
// }

.hero {
    height: 100vh;
    // margin-top: 50px;
    background-color: transparent;
    // background-blend-mode: multiply;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $base-white;
    text-shadow: 2px 2px $base-blue;
    position: relative;
    z-index: 2;

    .social-icons {
        width: 40%;
        padding-bottom: 10px;
        border-bottom: 1px solid $base-white;

        a:hover {
            transform: scale(1.1);
        }
    }

    .links {
        width: 60%;
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-shadow: none;

        a {
            color: $base-white;
            text-decoration: none;
            padding-bottom: 10px;
            transition: all .2s;
            border-bottom: 3px solid transparent;
            
            &:hover {
                border-color: $base-white;
                // padding-bottom: 5px;
            }
        }
    }
}

.heading {
    text-shadow: 2px 2px $base-blue;
}

.social-icons {
    display: flex;
    justify-content: space-around;

    a {
        color: $base-white;
        padding-bottom: 2px;
    }
}

#work, #contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;
    background-color: $base-red;
    color: $base-white;
}

.work-banner {
    height: 200px;
    width: 360px;
    background-size: cover;
    border: 2px solid #20313b;
    border-radius: 10px;
    margin: 5px 0;

    .banner-description {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.8);
        color: $base-white;
        opacity: 0;
        transition: all 0.2s;

        &:hover {
            opacity: 1;
        }
    }
}

.twitchmore {
    background-image: url('./assets/images/twitchmore.png');
}

.tenforten {
    background-image: url('./assets/images/tenfortenbanner.png');
}

.reddit-rundown {
    background-image: url('./assets/images/redditbanner.png');
}

.gist-blog {
    background-image: url('./assets/images/gistbanner.png');
}

.rerm {
    background-image: url('./assets/images/rermbanner.png');
}

#about, #contact, footer {
    position: relative;
    z-index: 2;
}

#about, footer {
    color: $base-white;
    background-color: rgba(0, 0, 0, 0.3);
}

#about, #work, #contact {
    padding: 20px 0;
}

.bio {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.tools {
    text-align: center;
    display: flex;
    flex-direction: column;

    .tool-row {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .tool {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 120px;
        height: 120px;
        border: 2px solid $base-white;
        border-radius: 10px;
        font-size: 5em;
        margin: 5px 5px;

        .tool-label {
            font-size: 14px;
        }
    }
}

form {
    input, textarea {
        display: block;
    }
}

footer {
    // background-color: #203038;
    color: $base-white;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .email-link {
        color: lightblue;
    }

    .copyright, .email-link {
        align-self: center;
    }
}